*.aux
*.bbl
*.blg
*.log
*.nav
*.out
*.pkl
*.pyc
*.snm
*.synctex.gz
*.toc
*.vrb
*.solverstate
*txt
*.pickle
*.mat
*.h5

PegsOnDisksUpright/tensorflow/logs
PegsOnDisks/tensorflow/logs
BottlesOnCoasters/tensorflow/logs
